


<div class="row">
  <div class="col-sm-6">
  <%= image_tag avatar_path(current_user, size: 40), height: 80, width: 80, class: "rounded" %>
  </div>

  <div class="col-sm-6 text-right">
  <div class="jumbotron">
  <% if !user_signed_in? %>
  <h2 class="display-5">Welcome to Twonked!</h2>
  <p class="lead">Kindly sign up or log in to start Twonking.</p>
  <% else %>
  <h2>Hello, start Twonking!</h2>
  <%= link_to "Add New Twonk", new_tweet_path, class: "btn btn-success mb-4" %>

  <% end %>
  
</div>
</div>
  
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
 

    <tbody>
      <% @tweets.each do |tweet| %>
        <%= content_tag :tr, id: dom_id(tweet), class: dom_class(tweet) do %>
          

                      <td><%= tweet.tweet %></td>
          
          
            <td><%= link_to 'Show', tweet %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
